:root {
  --main-color: #000235;
  --main-font-color: #f5f5ff;
  --main-font-faded: #ffffff6f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-color);
  color: var(--main-font-color);
  overscroll-behavior: none;
}

html {
  background-color: var(--main-color);
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}
