:root {
  --background-color: #ebebeb;
  --text-color: #141414;
}

[data-theme='dark'] {
  --background-color: #141414;
  --text-color: #ebebeb;
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 1440px;
}

