.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 99;
}
.burger { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
    
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
}

.list span {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #535252;
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}
.list span:hover {
    color: #ebebeb;
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
    cursor: pointer;
}
.rightlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 2rem;
    width: 14rem;
}

.rightlist img{
    cursor: pointer;
}


.signin {
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}

/* // media queries */
@media (max-width: 820px) {
    .list {
        display: none;
    }
}
