.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
    background-color: #000;
    position: fixed;
    z-index: 1;
}